<h1 class="image-list-title">
  Your Images
</h1>
<div class="image-list">
  <div *ngFor="let image of images">
    <app-image
      [id]="image.id"
      [title]="image.title"
      [bitstring]="image.bitstring"
      [comments]="image.comments"
      [sharedwith]="image.sharedwith"
      [timestamp]="image.timestamp"
      [uploader]="image.uploader"
      [description]="image.description">
    </app-image>
  </div>
</div>
<img class="add-icon" (click)="goToAddImage()" src="../../assets/addicon.svg">


