<div class="col">
  <div class="login-area">
    <h1 class="login-header">Login</h1>
    <div class="login-info">Use a local account to log in.</div>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput #userMail type="text" placeholder="E-mail" (keydown.enter)="login(userMail.value,userPass.value)">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput #userPass type="password" placeholder="Password" (keydown.enter)="login(userMail.value,userPass.value)">
      </mat-form-field>
    </td>
    <button mat-raised-button class="login-button" #loginButton (click)="login(userMail.value, userPass.value)">Log In</button>
    <div class="forgot-section">
      <h1 class="forgot-pass"(click)="openForgot()">Forgot your password?</h1>
      <mat-form-field *ngIf="forgotIsOpen" class="example-full-width">
        <input matInput #forgotInput type="text" placeholder="username" (keydown.enter)="forgotPassword(forgotInput.value)">
      </mat-form-field>
      <button mat-raised-button *ngIf="forgotIsOpen" class="login-button" #forgotButton (click)="forgotPassword(forgotInput.value)">Request Password Reset</button>
    </div>
  </div>
</div>
