.login-header {
  color: black;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.login-info {
  color: black;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-bottom: 2%;
}

.login-area {
  padding-top: 2%;
  padding-left: 3%;
}

input {
  background-color: white;
}

.forgot-section {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 0.25fr;
}
